<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Alumnos</title>
    <style>
        body{background:#3193bd;}
        .form-div{
            margin-top: 10px;
        }
        .btn btn-light{
            padding-right: 0px 5px;
        }
        .table-div{
            margin-top: 15px;
        }
        .tbody-dark{
            background-color: grey;
            color: white;
        }
        .form-control{
            margin-right: 4px;
        }
        .form-div{
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for leter in messages %}
    <p>{{ leter }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="form-div">
    <form class="form-inline" action="/search_contact" method="POST">
        <input class="form-control" type="text" name="fullname" placeholder="Nombre">      
        <!-- <input type="text" name="use" placeholder="Tipo"> -->
        <input class="form-control" type="text" name="idNumber" placeholder="DNI">
        <button type="submit" class="btn btn-dark">Buscar</button>
    </form>
    <form action="/logout" method="POST">
        <button class="btn btn-dark" type="submit">Logout</button>

    </form>
    </div>
    <div>
        
    </div>
    <div class="table-div">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <!-- <td>Nombre</td>
                <td>Tipo</td>
                <td>P Activa</td>
                <td>P Aparente</td>
                <td>Acción</td> -->
                <th scope="col">Nombre</th>
                <th scope="col">DNI</th>
                <th scope="col">Correo</th>
                <th scope="col">Nº de Contacto</th>
                <th scope="col">Presente</th>
            </tr>
        </thead>
        <tbody class="tbody-dark">
    {% for alumno in alumnos %}
            <tr>
                <td>{{alumno.1}}</td>
                <td>{{alumno.2}}</td>
                <td>{{alumno.3}}</td>
                <td>{{alumno.4}}</td>
                <td>
                    <a class="btn btn-light btn-sm" href="/edit/{{alumno.0}}">Presente</a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
